body {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-image: url("pic1.jpg");
    background-size: cover;
    padding-bottom: 30px;
    padding-top: 1px;
}
form
{
    float: right;
    margin-top: 0px;
    margin-right: 100px;
    border: 2px solid white;
    width: 50%;
    background-color: #709A5B;
    border-radius: 1ch;
}

input[type=text], input[type=password], input[type=email], select {
  width: 80%;
  font-size:20px;
  padding: 12px 20px 12px 20px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 1ch;
}

textarea[type=text] {
  resize: vertical;
  height: 603px;
  width: 80%;
  font-size:20px;
  padding: 12px 20px 12px 20px;
  margin: 0px 0px -20px 0px;
  display: inline-block;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 1ch;
}

textarea:hover, input:hover {
  border: 2px solid #4064d7;
}
button[type=submit] {
  background-color: #4064d7;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  color: white;
  padding: 12px 20px 12px 20px;
  margin: 28px 28px 28px 28px;
  border: none;
  cursor: pointer;
  font-size:20px;
}

button[type=create] {
  background-color: #FAA104;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  color: white;
  padding: 12px 20px 12px 20px;
  margin: 28px 28px 28px 28px;
  border: none;
  cursor: pointer;
  font-size:20px;
}

button[type=list] {
  background-color: #FAA104;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  color: white;
  padding: 12px 20px 12px 20px;
  margin: 28px 28px 28px 28px;
  border: none;
  cursor: pointer;
  font-size:20px;
}

button[type=list]:hover {
  background-color: #709A5B;
}

button[type=create]:hover {
  background-color: #709A5B;
}

button[type=submit]:hover {
  background-color: #3A3A3A;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}
